<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/usuario.css}">
  <title>Editar Usuário</title>
  <meta charset="UTF-8">
</head>
<body>
<header class="header">
  <a class="logo" th:href="@{/}">
    <p class="logo-green">Global</p>
    <p>Solution</p>
  </a>
  <nav>
    <ul class="menu">
      <li><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/}">Sensores</a></li>
      <li><a th:href="@{/}">Equipes</a></li>
      <li><a th:href="@{/}">Login</a></li>
      <li><a th:href="@{/}">GitHub</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="language-menu">
      <li><a th:href="@{/?lang=pt}">🇧🇷 pt-br</a></li>
      <li><a th:href="@{/?lang=en}">🇺🇸 en-us</a></li>
    </ul>
  </nav>
</header>

<h2>Editar Usuário</h2>

<form th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">
  <input type="hidden" th:field="*{idUsuario}" />

  <label>Nome:</label>
  <input type="text" th:field="*{nome}" required /><br/>

  <label>Email:</label>
  <input type="email" th:field="*{email}" required /><br/>

  <label>Telefone:</label>
  <input type="text" th:field="*{telefone}" required /><br/>

  <label>Cargo:</label>
  <input type="text" th:field="*{cargo}" placeholder="Cargo"
         th:value="${usuario.cargo} != null ? ${usuario.cargo} : 'usuario'" /><br/>

  <label>Senha:</label>
  <input type="password" th:field="*{senha}" required /><br/>

  <label>Ativo:</label>
  <input type="checkbox" th:field="*{ativo}" th:value="'S'" /> Ativo<br/>

  <button type="submit">Salvar</button>
  <a th:href="@{/usuario/lista}" class="btn">Cancelar</a>
</form>

</body>
</html>