<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><link th:href="@{/css/Home.css}" rel="stylesheet"/></head>
<body>
<div th:fragment="header">
  <header class="header">
    <a class="logo" th:href="@{/}">
      <p class="logo-green">Global</p>
      <p>Solution</p>
    </a>
    <nav>
      <ul class="menu">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/sensor/lista}">Sensores</a></li>
        <li><a th:href="@{/equipe/lista}">Equipes</a></li>
        <li><a th:href="@{/}">Login</a></li>
        <li><a th:href="@{https://github.com/Luccas-Silva/Fiap_GlobalSolution_Java}" target="_blank">GitHub</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="language-menu">
        <li><a th:href="@{/?lang=pt}">🇧🇷 pt-br</a></li>
        <li><a th:href="@{/?lang=en}">🇺🇸 en-us</a></li>
      </ul>
    </nav>
  </header>
</div>
</body>
</html>