<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/Home.css}" rel="stylesheet"/>
    <title>Global Solution</title>
</head>
<body>
<header class="header">
    <a class="logo" th:href="@{/}">
        <p class="logo-green">Global</p>
        <p>Solution</p>
    </a>
    <nav>
        <ul class="menu">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/pacientes}">Sensores</a></li>
            <li><a th:href="@{/funcionarios}">Equipes</a></li>
            <li><a th:href="@{/devteams}">Login</a></li>
            <li><a th:href="@{/login}">GitHub</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="language-menu">
            <li><a th:href="@{/?lang=pt}">🇧🇷 pt-br</a></li>
            <li><a th:href="@{/?lang=en}">🇺🇸 en-us</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="box">
        <div class="text-box">
            <h1>Uma Visão Abrangente e Integrada</h1>
            <p>Em um cenário global de eventos extremos cada vez mais frequentes, a capacidade de prever e mitigar desastres naturais torna-se crucial. Encostas instáveis, barragens e outras zonas de risco representam ameaças significativas à vida humana e ao meio ambiente. Este projeto propõe uma solução inovadora baseada em Sensores e Internet para o monitoramento contínuo e em tempo real dessas áreas, transformando o desafio em uma oportunidade de proteção e resiliência.</p>
        </div>
        <img class="img2" th:src="@{/imgs/world.svg}" alt="Computador">

    </section>
    <section class="box">
        <div class="text-box">
            <h1>Principais Benefícios do Nosso Sistema</h1>
            <p>Propomos a implementação de uma rede inteligente de sensores estrategicamente posicionados em encostas, barragens e outras zonas de risco. Esta rede coletará dados ambientais e estruturais de forma contínua, transmitindo-os para uma plataforma centralizada para análise, acionamento de alertas e apoio à tomada de decisão.</p>
        </div>
        <img class="img4" th:src="@{/imgs/mathematics.svg}" alt="Eficiência">
    </section>
    <section class="box">
        <div class="text-box">
            <h1>Eficiência na Tomada de Decisões</h1>
            <p>Atualmente, muitas áreas de risco são monitoradas de forma manual ou com tecnologias limitadas, resultando em dados intermitentes e respostas tardias. Deslizamentos de terra, rompimentos de barragens e inundações repentinas podem ocorrer com pouca ou nenhuma advertência. A falta de informações precisas e em tempo real impede a evacuação preventiva e a tomada de decisões eficazes.</p>
        </div>
        <img class="img3" th:src="@{/imgs/blood.svg}" alt="Saúde">
    </section>
    <section class="box">
        <div class="text-box">
            <h1>Junte-se à Transformação</h1>
            <p>A aplicação de sensores para o monitoramento de encostas, barragens e zonas de risco é um exemplo claro de como a tecnologia, aliada à criatividade e ao propósito, pode transformar desafios em soluções que salvam vidas e protegem nosso planeta. Ao investir em sistemas de monitoramento preditivo, não apenas mitigamos os impactos dos eventos extremos, mas também construímos um futuro mais seguro e resiliente para todos.</p>
        </div>
        <img class="img1" th:src="@{/imgs/computer.svg}" alt="Computador">
    </section>
</main>

<footer>
    <div class="footer-content">
        <a class="logo" th:href="@{/}">
            <p class="logo-green">Global</p>
            <p>Solution</p>
        </a>
        <ul class="footer_list">
            <li><a th:href="@{/devteams}" target="_blank">GitHub</a></li>
        </ul>
    </div>
    <div class="footer-copyright">&#169; 2025 all rights reserved.</div>
</footer>
</body>
</html>