<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/Home.css}" rel="stylesheet"/>
    <title>Global Solution</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main>
    <section class="box">
        <div class="text-box">
            <h1 th:text="#{index.visaoAbrangente}">Uma Visão Abrangente e Integrada</h1>
            <p th:text="#{index.textoVisao}">
                Em um cenário global de eventos extremos cada vez mais frequentes, a capacidade de prever e mitigar desastres naturais torna-se crucial...
            </p>
        </div>
        <img class="img2" th:src="@{/images/world.svg}" alt="Computador">
    </section>
    <section class="box">
        <div class="text-box">
            <h1 th:text="#{index.beneficios}">Principais Benefícios do Nosso Sistema</h1>
            <p th:text="#{index.textoBeneficios}">
                Propomos a implementação de uma rede inteligente de sensores estrategicamente posicionados em encostas, barragens e outras zonas de risco...
            </p>
        </div>
        <img class="img4" th:src="@{/images/mathematics.svg}" alt="Eficiência">
    </section>
    <section class="box">
        <div class="text-box">
            <h1 th:text="#{index.eficiencia}">Eficiência na Tomada de Decisões</h1>
            <p th:text="#{index.textoEficiencia}">
                Atualmente, muitas áreas de risco são monitoradas de forma manual ou com tecnologias limitadas, resultando em dados intermitentes e respostas tardias...
            </p>
        </div>
        <img class="img3" th:src="@{/images/blood.svg}" alt="Saúde">
    </section>
    <section class="box">
        <div class="text-box">
            <h1 th:text="#{index.junteSe}">Junte-se à Transformação</h1>
            <p th:text="#{index.textoJunteSe}">
                A aplicação de sensores para o monitoramento de encostas, barragens e zonas de risco é um exemplo claro de como a tecnologia, aliada à criatividade e ao propósito...
            </p>
        </div>
        <img class="img1" th:src="@{/images/computer.svg}" alt="Computador">
    </section>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>